@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700&display=swap');

//--- Font Family [200, 400, 600, 700] ---//
$font-montserrat: 'Montserrat', Arial, Helvetica, sans-serif;

//--- Font Size ---//
$font-size-lg-1: 1.8rem;
$font-size-lg-2: 1.6rem;

$font-size-md-1: 1.4rem;
$font-size-md-2: 1.3rem;

$font-size-sm-1: 1.2rem;
$font-size-sm-2: 1.1rem;

$font-size-xs-1: 1rem;
