@import '../../../assets/styles/variables/media';

.wrap-plans {
	> .arrow {
		cursor: pointer;
		display: block;
		position: absolute;
		top: calc(33%);
		width: 3.5rem;
		height: 3.5rem;
		z-index: 2;

		&.-prev {
			left: -1.2rem;
		}

		&.-next {
			right: -1.2rem;
			transform: rotate(180deg);
		}

		@media (min-width: 1080px) {
			display: none;
		}
	}
}